<div class="container">
  <mat-toolbar color="secondary">
    <span> Novo Usuario</span>
  </mat-toolbar>

  <mat-card style="margin-top: 10px;">
    <form  [formGroup]="form" (ngSubmit)="validar()" enctype="multipart/form-data">
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="anchor">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="5" [style.background]="'lightblue'">
          <img src="./assets/img/team.png" width="250px" height="250px">
        </mat-grid-tile>
        
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="anchor">
            <mat-label>Apelido</mat-label>
            <input matInput formControlName="apelido">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="anchor">
            <mat-label>Idade</mat-label>
            <input type="number" matInput formControlName="idade">
          </mat-form-field>
        </mat-grid-tile>

        
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="anchor">
            <mat-label>Genero</mat-label>
            <mat-select formControlName="genero">
              <mat-option *ngFor="let genero of generos" [value]="genero.value">
                {{genero.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button type="submit" mat-raised-button color="primary" class="anchor">Sucesso</button>
        </mat-grid-tile>
        
      </mat-grid-list>
    </form>
  </mat-card>
</div>