<div class="container">
  <mat-toolbar color="secondary">
    <span> Cadastrar Nova Pergunta</span>
  </mat-toolbar>

  <div class="body">
    <div style="margin-top: 10px;" class="quiz">
      <form [formGroup]="formQuiz" (ngSubmit)="validar()">
        angola

        

        <p>
          <mat-form-field appearance="fill" class="anchor">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill" class="anchor">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
        </p>
          
      </form>
    </div>
  </div>

</div>