
<div class="body">
  <div class="login">
    <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="entrar()">
      
      <img src="./assets/img/team.png" alt="" width="70%">
  
      <h1>Bem Vindo ao XXXX</h1>
      <mat-form-field class="anchor" appearance="fill">
        <mat-label>Utilizador</mat-label>
        <input type="text" matInput formControlName="usuario">
      </mat-form-field>
  
      <mat-form-field class="anchor" appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="senha">
      </mat-form-field>
      <br>
      <button type="submit" class="anchor button" mat-raised-button color="primary" [disabled]="form.invalid">Entrar</button>
    </form>
    <p><i>Powered by : </i> <span style="color: rgb(148, 200, 4);"> Estima</span></p>
  </div>
  
</div>
