.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #534f4f;
}

.login {
    width: 100%;
    max-width: 350px;
    text-align: center;
    background-color: #626060;
}

.anchor {
    width: 80%;
}

.button {
    height: 50px;
    margin-bottom: 20px;
}

.spinner {
    margin: 0 auto;
}

